<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086124261090-cmt9mu146sfhoi1ek81n7t2l5uqirimk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086124261090-cmt9mu146sfhoi1ek81n7t2l5uqirimk</string>
	<key>API_KEY</key>
	<string>AIzaSyCuzdfGsQU7hvXg49h2GEW3vnJtAqoY5UA</string>
	<key>GCM_SENDER_ID</key>
	<string>1086124261090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ourEmojiChatting</string>
	<key>PROJECT_ID</key>
	<string>our-emoji-chatting</string>
	<key>STORAGE_BUCKET</key>
	<string>our-emoji-chatting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086124261090:ios:d029d312d61d2fd57fa8bb</string>
</dict>
</plist>
